@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5t57hk');
  src:  url('fonts/icomoon.eot?5t57hk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5t57hk') format('truetype'),
    url('fonts/icomoon.woff?5t57hk') format('woff'),
    url('fonts/icomoon.svg?5t57hk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}


/*Estilos para secciones generales*/

body {
  background-color: #202C36;

  font-family: Lato, sans-serif;
  margin: 0 0 0 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans',sans-serif;


}

h2 {
text-transform: uppercase;
font-family: Lato;
font-weight: bold;
font-size: 24px;
margin-bottom: 40px;
color: #00a8cc;
}

h3 {
  margin: 5px 5px 5px 5px;
}


  strong {
    color:#00a8cc;
  }

  figure {
    margin:0;
  }

  /*Header, logo y barra de navegacion*/

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.8);
  z-index: 9;
  color: white;
  font-size: 30px;
  position: fixed;
  display: none;
  line-height: 40px;
  text-align: center;
  left: 5px;
  top: 5px;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  background-color: #142850;
  height: 100px;
  flex: 1;
  padding: 0;
  position: fixed;
  top: 0px;
  left:0px;
  z-index: 4;
  }

.logo {

      height: auto;
      margin-left: 20px;
  }

.navbar {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.navbar a {
    color: white;
    font-size: 20px;
    text-decoration:none;
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

/*Mensaje de bienvenida y foto*/

.welcome {

}

.hero {
  background-color: #27496d;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  position: relative;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 0;
}

.hero h1 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: -2px;
  z-index: 2;
  }

.youtube-video-frame {

display: block;
width: 50%;
height: 0;
padding-top: 50%;
background-color: blue;
position: relative;
z-index: 3;
}

.youtube-video {
  position: absolute;
  top: 1;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.hero-img img {

  position: absolute;
  z-index: 1;
  left: 1;
  right: 0;
  top:0;
  bottom: 0;
  width: auto;
  height: 100%;
}


.portfolio {
  background-color:#f6eedf;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px 5px 5px 5px;
}

.portfolio-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.entry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: .3em .3em;
  margin: .3em .3em;
  font-size: 20px;

}

.entry-text {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: wrap;
max-width: 70%;
font-size: .8em
}

.entry-title{
  font-size: 1.5em;
}

.entry-date {
  font-size: .8em;
}

.entry-img-container {
  max-width: 30%;
}

.entry-img-link {
  width: 100%;
  height: auto;

}

.about {
  background-color: #142850;
  /*width: 100vw;*/
}

.studies {
  background-color: #f6eedf;
  width: auto;
  height: 100%;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
}

.degree-wrapper{
  margin-left: 5px;
  width: auto;
}

.degree {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  flex-wrap: wrap ;
  justify-content:  space-around;
  align-items: stretch;
  padding: .3em .3em;
  margin: .3em .3em ;
}

.degree a {
  color: blue;
  text-decoration: none;
}

.degree-text {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 1px 0;
  padding: 1px 0;

}

.degree-photo {
  display: flex;
  align-items: center;
  max-width: 480px;

}

.degree-photo-img {
max-width: 99%;
height:auto;
object-fit: contain;
padding: .3em .3em;

}


.contact-form-wrapper {
  background-color: #0c7b93;
  color: white;
  height: auto;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  padding: .5em .5em;
  }

  .contact-form-wrapper h2 {
    color: inherit;
    margin: .5em 0;

  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;

  }

  .contact-form input {
    height: 20px;
    width: 200px;
    margin-bottom: 5px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    margin: .5em 0;
    padding: .5em .5em;

  }

.contact-form button {
  background: transparent;
  color: white;
  border: 1px white solid;
  border-radius: 5px;
  width: 100px;
  font-size: 20px;
  font-weight: 300;
  padding: .5em 0;
  margin: .4em 0;
}

footer {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
color: white;
flex-wrap: wrap;

}

.socialmedialinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ulsocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-inline-start: 0px;
}

/*desktop first media queries*/

@media screen and (max-width: 2560px) {

.header {

  height: auto;
  width: 100%;
}

@media screen and (max-width: 936px) {

  .navbar.is-active {
    left:0;
  }

.header {
  display: block;
  height: auto;
  width: 100%;
  position: static;

}

.burger-button {
  display: block;
}

.navbar {
  position: fixed;
  z-index: 8;
  top: 0;
  bottom: 0;
  left:-100vw;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #00a8cc;
  opacity: 0.8;
  transition: .3s;

}

.navbar {
  display: block;
  z-index: 7;
}

.navbar a {
  height: 50px;
  justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

.hero {
  margin-top: 0px;
  display: flex;
  flex-direction: column;

}

.youtube-video-frame {
width: 100%;
}

.hero-img img {
  left: 0;
  width: 100%;
  height: auto;
}

.hero h1 {

    font-size: 2em;
    line-height: 1.2em;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.portfolio {right: 0;}

.entry{
  font-size: 16px;
  margin: .3em 0;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.entry-title {
    font-size: 1.5em;
}

.entry-date {
font-size: .8em;
}

.entry-description {
font-size: 1em;
}

.entry-img-container {
  max-width: 100%;

}

.entry-img-container a {
  display: flex;
  justify-content: center;
}

.entry-img-link {
  width: 70%;
}

.degree {

  margin: .3em .3em;
  padding: .3em .3em;
}

.degree-text {
  width: auto;
}

.degree-name {font-size: 1.4em;}
.degree-college {font-size: 1em;}
.degree-date {font-size: .8em;}
.degree-description{font-size: 1em;}

}

@media screen and (max-width: 799px) {

.header {
  display: block;
  height: auto;
  width: 100%;
}

footer {width: 100%;}

}


@media screen and (max-width: 768px) {

footer {
  display: block;
}

.copyright {
  display: flex;
  justify-content: center;

}

.contact-form-wrapper {

  align-items: center;
}

.contact-form {
  align-items: center;
}

}

@media screen and (max-width: 480px) {

  .hero {
    height: auto;
    padding: 1em;
  }

  .hero h1 {
    font-size: 1.2em;
    line-height: 1.2em;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;

  }
  .entry{
    font-size: 12px;
    margin: .3em 0;
  }

  .entry-title {
      font-size: 1.5em;
  }

  .entry-date {
  font-size: .8em;
  }

  .entry-description {
  font-size: 1em;
  }

  .degree {
    font-size: 12px;
    margin: .3em 0;
  }

  .degree-text {
    width: auto;
  }

  .degree-name {font-size: 1.4em;}
  .degree-college {font-size: 1em;}
  .degree-date {font-size: .8em;}
  .degree-description{font-size: 1em;}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .5em;
}

}

@media screen and (max-width: 319px) {


}
